#project_admin .table{
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#project_admin td, #project_admin th {
border: 1px solid #ddd;
padding: 8px;
}

#project_admin  tr:nth-child(even){background-color: #f2f2f2;}

#project_admin tr:hover {background-color: #ddd;}

#project_admin th{
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #ffffff;
color: black;
}
#project_admin button{
margin: 5px;
}
#project_admin .size{
width: 218px;
}
#project_admin .res{
margin-right: 50px;
margin-bottom: 10px;
}
#project_admin .tablemr{
margin-left: 50px;
margin-right: 50px;
}


#transaction_admin .table{
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#transaction_admin td, #transaction_admin th {
border: 1px solid #ddd;
padding: 8px;
}

#transaction_admin  tr:nth-child(even){background-color: #f2f2f2;}

#transaction_admin tr:hover {background-color: #ddd;}

#transaction_admin th{
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #ffffff;
color: black;
}
#transaction_admin button{
margin: 5px;
}
#transaction_admin .size{
width: 218px;
}
#transaction_admin .res{
margin-right: 50px;
margin-bottom: 10px;
}
#transaction_admin .tablemr{
margin-left: 50px;
margin-right: 50px;
}
